* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 349px;
    height: auto;
    padding: 20px 0;
}

main {
    width: 100%;
    background: beige;
    display: flex;
    flex: wrap;
}
section {
    width: 50%;
    min-width: 320px;
    flex: 1;
    min-height: 400px;
    padding: 20px 15px 10px 30px;
} 

article {
    margin-bottom: 80px;
    border: 1px solid red;
    height: auto;
    min-height: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding;
}

h2 {
    background: rgb(0, 79, 131);
    padding: 10px;
    width: 100%;
}


div#gauche,
div#nom,
div#droite {
    width: 33,33%;
    height: inherit;
    min-width: 320px;
    color: white;
    text-align: center;
    flex: 1;
}

div#info h2 {
    background: transparent;
}